.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 70%;
    color: #2b8f7a;
    font-size: 40px;
    text-align: center;
    border-collapse: collapse;
    background: #cefcf8;
    margin: auto;
}
.table_dark th {
    color: #123f36;
    border-bottom: 1px solid #2b8f7a;
    padding: 12px 17px;
    font-size: 14px;
}
.table_dark td {
    color: #123f36;
    border-bottom: 1px solid #2b8f7a;
    border-right: 1px solid #2b8f7a;
    padding: 7px 17px;
    font-size: 14px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
